Package: com.alhussaini.smartbuttons
Name: Smart Buttons
Version: 1.0.0
Architecture: iphoneos-arm
Description: أضف أزرارك الذكية (رابط/نص) ورتبها.
Maintainer: Alhussaini
Author: Alhussaini
Section: Tweaks
Depends: firmware (>= 13.0), preferenceloader